[problem]
standard_checker = "cmp_bytes"
#source_header = "header_c.c"
source_footer = "footer_c.c"
binary_input
lang_compiler_env = "gcc-32=EJUDGE_FLAGS=-Wall -O2 -g -Werror -std=gnu11 -Wl,--wrap=opendir @${problem.problem_dir}/wrappers.cfg ${problem.problem_dir}/rw_wrapper.c"
lang_compiler_env = "gcc=EJUDGE_FLAGS=-Wall -O2 -g -Werror -std=gnu11 -Wl,--wrap=opendir @${problem.problem_dir}/wrappers.cfg ${problem.problem_dir}/rw_wrapper.c"
